<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i>Edit notifications</h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">

    <%= render 'form' %>

    <%= link_to 'Show', @message %> |
    <%= link_to 'Back', messages_path %>  
    
  </div>
</div>


