<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i>User overview</h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">
  
    <div class="row">
      <div class="span9">
          <table>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Job description</th>
              <th>Kind</th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= truncate(user.description, length: 50) %></td>
                <% if user.job_description.present? %>
                  <td><%= user.job_description %></td>
                <% else %> 
                  <td> Guest </td>
                <% end %> 
                <td><%= user.kind %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

	</div>
</div>
