<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i>Features of the Mastercoin Protocol</h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">
 
  	<hr>
    <!-- start: Row -->
    <div class="row">
      <div class="span9">

        <div class="post">
          <h3>Decentralized Peer to Peer Exchange</h3>

          <p>This is a feature many in the Bitcoin world have been longing for - a way to trade their Bitcoin for Mastercoin or any other digital currency with out having to use a third party.</p>
          <p>Mastercoin makes this possible by leveraging the Bitcoin blockchain itself as the third party and timestamping service.</p>
        </div>

        <div class="post">
          <h3>User Currencies</h3>

          <p>MasterCoins will contain simple tools which will allow anyone to design and release their own currency or commodity, with their own rules, without doing any software development</p>
        </div>

        <div class="post">
          <h3>Smart Property</h3>

          <p>MasterCoin supports creating property tokens to be used for titles, deeds, user- backed currencies, and even shares in a company. Whenever property is created, it gets assigned the next available currency ID, so any property can be bought, sold, transferred, and even used for betting, just like other MasterCoin-derived currencies.</p>
        </div>

      </div><!-- end: Span9 -->

      <div class="span3">
        
        <div class="widget">
          <%= image_tag("slide1.png") %>
        </div>

        <div class="widget">
          <%= image_tag("slide2.png") %>
        </div>

        <div class="widget">
          <%= image_tag("slide3.png") %>
        </div>

      </div>

    </div>
    <!-- end: Row -->

    <hr>

  </div>
</div>