<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i>Edit Resource</h2>
    </div>
  </div>  
</div>

<div id="wrapper">
	<div class="container"><h1>Editing resource</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @resource %> |
		<%= link_to 'Back', resources_path %>
	</div>
</div>