<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i>New Resource</h2>
    </div>
  </div>  
</div>

<div id="wrapper">
	<div class="container">
		<%= render 'form' %>

		<%= link_to 'Back', resources_path %>
	</div>
</div>
