<div class="span9">
	<div class="title-out"><h3>Latest Works</h3></div>
		<div class="row">
			<div class="span3">

				<div class="picture">
					<a href="img/car.jpg" rel="image" title="mobile app">
						<%= image_tag "car.jpg" %>
						<div class="image-overlay-zoom"></div>
					</a>
					<div class="item-description">
						<h4><a href="#">Mobile App</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					</div>
				</div>

			</div>

	<div class="span3">

		<div class="picture">
			<a href="project.html">
				<%= image_tag "web_app1.jpg" %>
				<div class="image-overlay-link"></div>
			</a>
			<div class="item-description">
				<h4><a href="#">Mobile App</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>
		</div>

</div>

		<div class="span3">
			<div class="picture">
				<a href="img/mobile_app1.jpg" rel="image" title="mobile app">
					<%= image_tag "mobile_app1.jpg" %>
					<div class="image-overlay-zoom"></div>
				</a>
				<div class="item-description">
					<h4><a href="#">Mobile App</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>

	</div>
</div>
