<div class="slider">
	<div id="flex1" class="flexslider home">
		<ul class="slides">

			<li style="width: 100%; float: left; margin-right: -100%; margin-bottom: -10px; position: relative; display: none;" class="">
				<%= image_tag "slider1.jpg" %>
				<div class="slide-caption n">
					<h3>This is a caption</h3>
				</div>
			</li>

			<li style="width: 100%; float: left; margin-right: -100%; margin-bottom: -10px; position: relative; display: none;" class="">
				<%= image_tag "slider2.jpg" %>
				<div class="slide-caption">
					<h3>This is a caption</h3>
				</div>
			</li>

			<li style="width: 100%; float: left; margin-right: -100%; margin-bottom: -10px; position: relative; display: list-item;" class="flex-active-slide">
				<%= image_tag "slider3.jpg" %>
			</li>

		</ul>
	<ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
</div>