

<div id="footer-menu" class="hidden-tablet hidden-phone">
	<div class="container">
		<div class="row">
			<div class="span2">
				<div id="footer-menu-logo">
       	  <%= link_to image_tag('mastercoin_logo_small.png'), '/', class: "brand_footer", method: :get %>
				</div>
			</div>

			<div class="span9">
				<div id="footer-menu-links">
					<ul id="footer-nav">
						<li><a href="index.html">Start</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="span1">
				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
			</div>

		</div>
	</div>
</div>	

<div id="copyright">
	<div class="container">
		<div class="sixteen columns">
			<p>
					© 2013, Created by Peter van den Berg
			</p>
		</div>
	</div>	
</div>	