

<div id="footer-menu" class="hidden-tablet hidden-phone">
	<div class="container">
		<div class="row">
			<div class="span2">
				<div id="footer-menu-logo">
       	  <%= link_to image_tag('mastercoin_logo_small.png'), '/', class: "brand_footer", method: :get %>
				</div>
			</div>

			<div class="span9">
				<div id="footer-menu-links">
					<ul id="footer-nav">
						<li><a href="http://www.mastercoin.org/">Mastercoin Home</a></li>
						<li><a href="https://masterchest.info/">MasterChest.info</a></li>
						<li><a href="http://mastercoin-explorer.com/">Mastercoin-Explorer.com</a></li>
						<li><a href="http://wiki.mastercoin.org/index.php/Main_Page">Mastercoin wiki</a></li>
						<li><a href="http://www.mastercoin.org/#contact">Contacts</a></li>
					</ul>
				</div>
			</div>

			<div class="span1">
				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
			</div>

		</div>
	</div>
</div>	

<div id="copyright">
	<div class="container">
		<div class="sixteen columns">
			<p>
					© 2013, Created by Peter van den Berg
			</p>
		</div>
	</div>	
</div>	