<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=173173886211093";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="footer">	
	<div class="container">
		<div class="row">
			<div class="span3">
				<h3>Latest news</h3>
					<ul>

					</ul>
				
			</div>

			<div class="span3">
					<a class="twitter-timeline" href="https://twitter.com/MSCProtocol" data-widget-id="404898571293425664">Tweets by @MSCProtocol</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
				<div class="clear"></div>
			</div>

			<div class="span3">
				
				<h3>Flickr Photo Stream</h3>
					<div class="flickr-widget">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=29609591@N08"></script><div class="flickr_badge_image" id="flickr_badge_image1"></div>
						<div class="flickr_badge_image" id="flickr_badge_image2"></div>
						<div class="flickr_badge_image" id="flickr_badge_image3"></div>
						<div class="flickr_badge_image" id="flickr_badge_image4"></div>
						<div class="flickr_badge_image" id="flickr_badge_image5"></div>
						<div class="flickr_badge_image" id="flickr_badge_image6"></div>
						<div class="flickr_badge_image" id="flickr_badge_image7"></div>
						<div class="flickr_badge_image" id="flickr_badge_image8"></div>
						<div class="flickr_badge_image" id="flickr_badge_image9"></div>
						<span style="position:absolute;left:-999em;top:-999em;visibility:hidden" class="flickr_badge_beacon"><img src="http://geo.yahoo.com/p?s=792600102&amp;t=63222f19b1faf559aa18d4b117cdb672&amp;r=http%3A%2F%2Fbootstrapmaster.com%2Flive%2Fmagnus%2Fproject.html&amp;fl_ev=0&amp;lang=en&amp;intl=nl" width="0" height="0" alt=""></span>
						<div class="clear"></div>
					</div>
				
			</div>
			
			<div class="span3">
				
				<h3>Follow Us</h3>
				
				<div id="social-r" class="tooltips">
					<div class="fb-like" data-href="https://www.facebook.com/mastercoinfoundation" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
					</div>
					<div id="twitter_button">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://twitter.com/MSCProtocol">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
						</script>
					</div>
					<div class="g-plusone" data-annotation="inline" data-width="300">
					</div>
				</div>

			</div>			
		</div>		
	</div>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="footer-menu" class="hidden-tablet hidden-phone">
	<div class="container">
		<div class="row">
			<div class="span2">
				<div id="footer-menu-logo">
       	  <%= link_to image_tag('mastercoin_logo_small.png'), '/', class: "brand_footer", method: :get %>
				</div>
			</div>

			<div class="span9">
				<div id="footer-menu-links">
					<ul id="footer-nav">
						<li><a href="http://www.mastercoin.org/">Mastercoin Home</a></li>
						<li><a href="https://masterchest.info/">MasterChest.info</a></li>
						<li><a href="http://mastercoin-explorer.com/">Mastercoin-Explorer.com</a></li>
						<li><a href="http://wiki.mastercoin.org/index.php/Main_Page">Mastercoin wiki</a></li>
						<li><a href="http://www.mastercoin.org/#contact">Contacts</a></li>
					</ul>
				</div>
			</div>

			<div class="span1">
				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
			</div>

		</div>
	</div>
</div>	

<div id="copyright">
	<div class="container">
		<div class="sixteen columns">
			<p>
					© 2013, Created by Peter van den Berg
			</p>
		</div>
	</div>	
</div>	