<div class="slider-wrapper">

	<div id="da-slider" class="da-slider" style="background-position: 0% 0%;">
		<div class="da-slide da-slide-fromright da-slide-current">
			<h2>Modern &amp; Clean</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><%= image_tag "women1.png" %></div>
		</div>
		<div class="da-slide da-slide-toleft">
			<h2>Responsive Design</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><%= image_tag "responsive.png" %></div>
		</div>
		<div class="da-slide da-slide-toleft">
			<h2>1000 satisfied customers</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><%= image_tag "women2.png" %></div>
		</div>
		<div class="da-slide da-slide-toleft">
			<h2>HTML5</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><%= image_tag "html5.png" %></div>
		</div>
		<nav class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
		</nav>
	<nav class="da-dots"><span class=""></span><span class=""></span><span class=""></span><span class="da-dots-current"></span></nav></div>
		
</div>